#app,
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;

  @media screen and (width <= 375px) {
    min-width: 300px;
  }
}

.container {
  height: 100%;

  &-content {
    box-sizing: border-box;
    height: calc(100% - 40px);
  }
}

.side-menu {
  max-width: 200px;

  @media screen and (width <= 375px) {
    display: none;
  }
}

.demo-container {
  width: 100%;
}

.demo-code-container {
  flex: 1 1 unset;

  @media screen and (width >= 0) and (width <= 800px) {
    min-width: 343px;
    width: 100%;
  }

  @media screen and (width >= 800px) {
    width: calc((100% - 16px) / 2);
    min-width: 343px;
  }
}

.cursor {
  cursor: pointer;
}
