#app,
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
  min-width: 360px;
}

a {
  color: #000;
}

.container {
  height: 100%;

  &-content {
    box-sizing: border-box;
    height: calc(100% - 40px);
  }
}

.side-menu {
  max-width: 20%;
  min-width: 15em;
}

.cursor {
  cursor: pointer;
}

.is-hidden {
  display: none;
}

.is-bold {
  font-weight: bold;
}
