.tree-multiple-select-cascader{
  display: flex;
  flex-direction: column;
  gap: 8px;

  &-operator {
      width: 20em;
      flex-wrap: wrap;
      display: flex;
      gap: 8px;
  }

  &-select {
      display: flex;
  }

  &-group {
      margin-left: 1em;
  }
}