.body {
  padding: 0 !important;
  overflow: hidden;
}

.demo {
  padding: 12px;
}

.code {
  box-sizing: border-box;
  padding: 0 8px 8px;
}

.is-active {
  border: 1px solid #1677ff;
}

.divider {
  margin: 8px 0;
}
