@import "normalize.css";

.page {
  &-header {
    &-container {
      display: flex;
      margin: 1rem 2rem 0 2rem;
    }
  }
  &-title {
    &-container {
      width: 20%;
    }
  }
  &-nav {
    li {
      list-style: none;
    }
    &-container {
      display: flex;
      margin-left: auto;
      flex-grow: 1;
      justify-content: flex-end;
    }
    display: flex;
    font-size: larger;
    gap: 1rem;
  }
}

.main {
  margin: 0 2rem;
  display: flex;
  &-nav-container {
    width: 20%;
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style: none;
    }
  }
}

.component-demo-container {
  margin-left: auto;
  flex-grow: 1;
}
